# ============================================================
# KFG local PostgreSQL configuration
# ============================================================

KFG_POSTGRES_PORT=5432

KFG_POSTGRES_ADMIN_USER=kfg_admin
KFG_POSTGRES_ADMIN_PASSWORD=kfg_admin_local_change_me
KFG_POSTGRES_ADMIN_DB=kfg_admin

# Service database passwords
# Local development values only.

KFG_CUSTOMER_DB_PASSWORD=kfg_customer_local
KFG_KYC_DB_PASSWORD=kfg_kyc_local
KFG_ACCOUNT_DB_PASSWORD=kfg_account_local
KFG_LEDGER_DB_PASSWORD=kfg_ledger_local
KFG_BENEFICIARY_DB_PASSWORD=kfg_beneficiary_local
KFG_PAYMENT_DB_PASSWORD=kfg_payment_local
KFG_NOTIFICATION_DB_PASSWORD=kfg_notification_local
KFG_BACKOFFICE_DB_PASSWORD=kfg_backoffice_local
KFG_AUDIT_DB_PASSWORD=kfg_audit_local
KFG_STATEMENT_DB_PASSWORD=kfg_statement_local
